In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
print(os.listdir("D:/Aston/Pyton/skill/input"))

['IMbd-sf']

In [2]:
data = pd.read_csv('D:/Aston/Pyton/skill/Input/imbd-sf/data.csv')
data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

In [3]:
len(data)

1890

# Предобработка датасета

In [4]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [5]:
# тут вводим ваш ответ и добавлем в его список ответов (сейчас для примера стоит "1")
answer_ls.append(4)
s = data[(data.budget==data['budget'].max())]

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [6]:
answer_ls.append(2)
s = data[(data.runtime==data['runtime'].max())]

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [7]:
answer_ls.append(3)
s = data[(data.runtime==data['runtime'].min())]

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [8]:
answer_ls.append(2)
s = data['runtime'].mean()

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [9]:
answer_ls.append(1)
s = data['runtime'].median()

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [10]:
answer_ls.append(5)
s = data[((data.revenue-data.budget)==(data['revenue']-data['budget']).max())]

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [11]:
answer_ls.append(2)
s = data[((data.revenue-data.budget)==(data['revenue']-data['budget']).min())]

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [12]:
answer_ls.append(1)
s = data[((data.revenue-data.budget)>0)]
t=len(s)

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [13]:
answer_ls.append(4)
data1 = data[(data.release_year==2008)]
s = data1[((data1.revenue-data1.budget)==(data1['revenue']-data1['budget']).max())]

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [14]:
answer_ls.append(5)
data1 = data[(data.release_year<=2014)&(data.release_year>=2012)]
s = data1[((data1.revenue-data1.budget)==(data1['revenue']-data1['budget']).min())]

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [15]:
answer_ls.append(3)
data1= data[((data.revenue-data.budget)>0)]
t=Counter(data1.genres.str.split('|').sum()).most_common(10)

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [16]:
answer_ls.append(1)
t=Counter(data.director.str.split('|').sum()).most_common(10)

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [17]:
answer_ls.append(3)
t=Counter(data.director.str.split('|').sum()).most_common(10)

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [18]:
answer_ls.append(4)
data1= data[((data.revenue-data.budget)>0)]
t=Counter(data1.director.str.split('|').sum()).most_common(10)

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [19]:
answer_ls.append(5)
data['profit'] = data['revenue'] - data['budget']
t=data.groupby(['director'])['profit'].sum().sort_values(ascending=False)
t1=pd.DataFrame(t.index,t[:])
t2=t1.director.str.split('|')
t3=pd.DataFrame(t2.index,t2[:])
t3['dr']=t3.index
df_new = t3.groupby('profit').dr.apply(lambda x: pd.DataFrame(x.values[0])).reset_index().drop('level_1', axis = 1)
df_new.columns = ['profit','dr']
t4=df_new.groupby(['dr'])['profit'].sum().sort_values(ascending=False)

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [20]:
answer_ls.append(1)
data['profit'] = data['revenue'] - data['budget']
t=data.groupby(['cast'])['profit'].sum().sort_values(ascending=False)
t1=pd.DataFrame(t.index,t[:])
t1.sort_values(['profit'],ascending=False)
t2=t1.cast.str.split('|')
t3=pd.DataFrame(t2.index,t2[:])
t3['cast1']=t3.index
t3['cast2']=t3.index
df_new = t3.groupby('profit').cast1.apply(lambda x: pd.DataFrame(x.values[0])).reset_index().drop('level_1', axis = 1)
df_new.columns = ['profit','cast']
t4=df_new.groupby(['cast'])['profit'].sum().sort_values(ascending=False)

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [21]:
answer_ls.append(3)
data1 = data[(data.release_year==2012)]
data1['profit'] = data1['revenue'] - data1['budget']
t=data1.groupby(['cast'])['profit'].sum().sort_values(ascending=False)
t1=pd.DataFrame(t.index,t[:])
t1.sort_values(['profit'],ascending=False)
t2=t1.cast.str.split('|')
t3=pd.DataFrame(t2.index,t2[:])
t3['cast1']=t3.index
t3['cast2']=t3.index
df_new = t3.groupby('profit').cast1.apply(lambda x: pd.DataFrame(x.values[0])).reset_index().drop('level_1', axis = 1)
df_new.columns = ['profit','cast']
t4=df_new.groupby(['cast'])['profit'].sum().sort_values(ascending=False)

C:\Users\Nataly\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [22]:
answer_ls.append(3)
data1 = data[(data.budget>data['budget'].mean())]
t=Counter(data1.cast.str.split('|').sum()).most_common(10)

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [23]:
answer_ls.append(2)
data['cast1']=data.cast.str.split('|')
data['genres1']=data.genres.str.split('|')
df1 = data[['cast1','genres1','imdb_id']]
df_new = df1.groupby(['imdb_id']).cast1.apply(lambda x: pd.DataFrame(x.values[0])).reset_index().drop('level_1', axis = 1)
df_new.columns = ['imdb_id','cast']
df_new1 = df1.groupby(['imdb_id']).genres1.apply(lambda x: pd.DataFrame(x.values[0])).reset_index().drop('level_1', axis = 1)
df_new1.columns = ['imdb_id','genres']
joined = df_new.merge(df_new1, on='imdb_id', how='inner')
joined1=joined[(joined.cast=='Nicolas Cage')]
t4=joined1.groupby(['genres'])['imdb_id'].count().sort_values(ascending=False)

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [24]:
answer_ls.append(1)
t=Counter(data.production_companies.str.split('|').sum()).most_common()

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [25]:
answer_ls.append(4)
data1 = data[(data.release_year==2015)]
t=Counter(data1.production_companies.str.split('|').sum()).most_common(1)

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [26]:
answer_ls.append(2)
data['profit'] = data['revenue'] - data['budget']
data['pc1']=data.production_companies.str.split('|')
data['genres1']=data.genres.str.split('|')
df1 = data[['pc1','genres1','imdb_id']]
df_new1 = df1.groupby(['imdb_id']).genres1.apply(lambda x: pd.DataFrame(x.values[0])).reset_index().drop('level_1', axis = 1)
df_new1.columns = ['imdb_id','genres']
df_new2=df_new1[(df_new1.genres=='Comedy')]
df_new = df1.groupby(['imdb_id']).pc1.apply(lambda x: pd.DataFrame(x.values[0])).reset_index().drop('level_1', axis = 1)
df_new.columns = ['imdb_id','pc']
joined = df_new2.merge(df_new, on='imdb_id', how='inner')
joined1=joined.merge(data, on='imdb_id', how='inner')
t4=joined1.groupby(['pc'])['profit'].sum().sort_values(ascending=False)

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [27]:
answer_ls.append(3)
data1 = data[(data.release_year==2012)]
data1['profit'] = data1['revenue'] - data1['budget']
data1['pc1']=data1.production_companies.str.split('|')
df1 = data1[['pc1','imdb_id']]
df_new = df1.groupby(['imdb_id']).pc1.apply(lambda x: pd.DataFrame(x.values[0])).reset_index().drop('level_1', axis = 1)
df_new.columns = ['imdb_id','pc']
joined1=df_new.merge(data1, on='imdb_id', how='inner')
joined1
t4=joined1.groupby(['pc'])['profit'].sum().sort_values(ascending=False)

C:\Users\Nataly\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Nataly\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [28]:
answer_ls.append(1)
data['profit'] = data['revenue'] - data['budget']
data['pc1']=data.production_companies.str.split('|')
df1 = data[['pc1','imdb_id']]
df_new = df1.groupby(['imdb_id']).pc1.apply(lambda x: pd.DataFrame(x.values[0])).reset_index().drop('level_1', axis = 1)
df_new.columns = ['imdb_id','pc']
df_new1=df_new[(df_new.pc=='Paramount Pictures')]
joined1=df_new1.merge(data, on='imdb_id', how='inner')
t4=joined1.groupby(['original_title'])['profit'].sum().sort_values(ascending=False)

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [29]:
answer_ls.append(5)
data['profit'] = data['revenue'] - data['budget']
data['pc1']=data.production_companies.str.split('|')
t4=data.groupby(['release_year'])['profit'].sum().sort_values(ascending=False)

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [30]:
answer_ls.append(1)
data['Warner Bros']=data['production_companies'].str.contains('Warner Bros')
data['profit'] = data['revenue'] - data['budget']
data['release_date1'] = pd.to_datetime(data['release_date'])
data['mon'] = data['release_date1'].dt.month
data['pc1']=data.production_companies.str.split('|')
t4=data.pivot_table(columns = 'Warner Bros', index = 'release_year', values = 'profit', aggfunc = 'sum',margins=False, fill_value=0)
s = t4[(t4[1]==t4[1].max())]

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [31]:
answer_ls.append(4)
data['profit'] = data['revenue'] - data['budget']
data['release_date1'] = pd.to_datetime(data['release_date'])
data['mon'] = data['release_date1'].dt.month
t4=data.groupby(['mon'])['imdb_id'].count().sort_values(ascending=False)

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [32]:
answer_ls.append(2)
data['profit'] = data['revenue'] - data['budget']
data['release_date1'] = pd.to_datetime(data['release_date'])
data['mon'] = data['release_date1'].dt.month
t4=data.groupby(['mon'])['imdb_id'].count().sort_values(ascending=False)
t5=t4[6]+t4[7]+t4[8]

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [33]:
answer_ls.append(5)
data['profit'] = data['revenue'] - data['budget']
data['release_date1'] = pd.to_datetime(data['release_date'])
data['mon'] = data['release_date1'].dt.month
data1 = data[(data.mon == 12)| (data.mon == 1)| (data.mon == 2)]
data1['dr']=data.director.str.split('|')
df1 = data1[['dr','imdb_id']]
df_new = df1.groupby(['imdb_id']).dr.apply(lambda x: pd.DataFrame(x.values[0])).reset_index().drop('level_1', axis = 1)
df_new.columns = ['imdb_id','dr']
t4=df_new.groupby(['dr'])['imdb_id'].count().sort_values(ascending=False)

C:\Users\Nataly\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [34]:
answer_ls.append(2)
data['profit'] = data['revenue'] - data['budget']
ls=[]
for x in range(2000,2015):
    data1 = data[(data.release_year == x)]
    data1['release_date1'] = pd.to_datetime(data1['release_date'])
    data1['mon'] = data1['release_date1'].dt.month
    data1['pc1']=data1.production_companies.str.split('|')
    t4=data1.groupby(['mon'])['profit'].sum().sort_values(ascending=False)
    t4['mon']=t4.index
    t=t4['mon'][0]
    ls.append(t)
t=Counter(ls)

C:\Users\Nataly\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Nataly\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
C:\Users\Nataly\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [35]:
answer_ls.append(5)
data['pc1']=data.production_companies.str.split('|')
data['ln']=data['original_title'].str.len()
df1 = data[['pc1','imdb_id']]
df_new = df1.groupby(['imdb_id']).pc1.apply(lambda x: pd.DataFrame(x.values[0])).reset_index().drop('level_1', axis = 1)
df_new.columns = ['imdb_id','pc2']
joined1=df_new.merge(data, on='imdb_id', how='inner')
t4=joined1.groupby(['pc2'])['ln'].mean().sort_values(ascending=False)

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [36]:
answer_ls.append(1)
data['ln_w'] = data.original_title.apply(lambda x: len(str(x).split(' ')))
data['cast1']=sorted(data.cast.str.split('|'))
df1 = data[['pc1','imdb_id']]
df_new = df1.groupby(['imdb_id']).pc1.apply(lambda x: pd.DataFrame(x.values[0])).reset_index().drop('level_1', axis = 1)
df_new.columns = ['imdb_id','pc']
joined1=df_new.merge(data, on='imdb_id', how='inner')
t4=joined1.groupby(['pc'])['ln_w'].mean().sort_values(ascending=False)

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [37]:
answer_ls.append(3)
import collections
from collections import Counter

results = Counter()
count_unique = data.original_title.str.lower().str.split(' ').apply(results.update)
t=list(results.elements())
count = 0
unique_array = []
for x in t:
    if x not in unique_array:
        count += 1
        unique_array.append(x)
t=len(unique_array)
# Выбрала сначала вариант 1002, так как среди слов много относительных повтроров, например, 'america' и 'america:'

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [38]:
answer_ls.append(1)
t=data.nlargest(19, 'vote_average')

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [39]:
answer_ls.append(5)
from itertools import combinations
from collections import Counter
unique_array = []

count = 0
for x in range(0,1889):
    t=list(combinations(data['cast1'][x],2))
    unique_array.append(t)

#print(len(unique_array))

unique_array1 = []
count = 0
for i in range(0,1888):
 if len(unique_array[i])>0:
   for j in range(0,len(unique_array[i])): 
     t=unique_array[i][j]
     unique_array1.append(t)

#print(len(unique_array1))
Counter(unique_array1)
t3=pd.DataFrame(unique_array1)

t3['2']=t3[0]+"--"+t3[1]

t3['ans1']=t3['2'].str.contains('Johnny Depp') & t3['2'].str.contains('Helena Bonham Carter')
t3['ans2']=t3['2'].str.contains('Hugh Jackman') & t3['2'].str.contains('Ian McKellen')
t3['ans3']=t3['2'].str.contains('Vin Diesel') & t3['2'].str.contains('Paul Walker')
t3['ans4']=t3['2'].str.contains('Adam Sandler') & t3['2'].str.contains('Kevin James')
t3['ans5']=t3['2'].str.contains('Daniel Radcliffe') & t3['2'].str.contains('Rupert Grint')
s1 = t3['ans1'].value_counts()
s2 = t3['ans2'].value_counts()
s3 = t3['ans3'].value_counts()
s4 = t3['ans4'].value_counts()
s5 = t3['ans5'].value_counts()
#display(s1,s2,s3,s4,s5)

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [40]:
answer_ls.append(4)
data['profit'] = data['revenue'] - data['budget']
data['dr']=data.director.str.split('|')
data1 = data[(data.profit > 0)]
df1 = data1[['dr','imdb_id']]
df_new = df1.groupby(['imdb_id']).dr.apply(lambda x: pd.DataFrame(x.values[0])).reset_index().drop('level_1', axis = 1)
df_new.columns = ['imdb_id','dr']
t4=df_new.groupby(['dr'])['imdb_id'].count().sort_values(ascending=False)
t4_1=pd.DataFrame(t4)
data['profit'] = data['revenue'] - data['budget']
data['dr']=data.director.str.split('|')
df1 = data[['dr','imdb_id']]
df_new = df1.groupby(['imdb_id']).dr.apply(lambda x: pd.DataFrame(x.values[0])).reset_index().drop('level_1', axis = 1)
df_new.columns = ['imdb_id','dr']
t5=df_new.groupby(['dr'])['imdb_id'].count().sort_values(ascending=False)
t5_1=pd.DataFrame(t5)
joined1=t5_1.merge(t4_1, on='dr', how='inner')
joined1['d']=joined1['imdb_id_y']/joined1['imdb_id_x']
joined1['dr1']=joined1.index
data1 = joined1[(joined1.dr1=='Quentin Tarantino')|(joined1.dr1=='Steven Soderbergh')|(joined1.dr1=='Robert Rodriguez')|(joined1.dr1=='Christopher Nolan')|(joined1.dr1=='Clint Eastwood')]

# Submission

In [41]:
len(answer_ls)

36

In [42]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       3
11  12       1
12  13       3
13  14       4
14  15       5
15  16       1
16  17       3
17  18       3
18  19       2
19  20       1
20  21       4
21  22       2
22  23       3
23  24       1
24  25       5
25  26       1
26  27       4
27  28       2
28  29       5
29  30       2
30  31       5
31  32       1
32  33       3
33  34       1
34  35       5
35  36       4